/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.anchor-width {
    display: inline-block;
    max-width: fit-content;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 30px;
}

.logo img {
    width: 61px;
    height: 19px;
}

.navlinks {
    display: flex;
    gap: 68px;
    list-style: none;

    height: 35px;
}

.links {
    padding-top: 30px;
    border-top: 2px solid transparent;
}

.links:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Home & Filters ***********/
.home {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title p {
    font-size: 16px;
    margin-top: 8px;
}

h1 {
    font-size: 22px;
}

.search-form {
    display: flex;
}

#location-icon {
    background-color: var(--main-bg-color);
    padding: 17px 19px;
    border-radius: 15px 0 0 15px;
}

#location-icon i {
    color: black;
}

#location {
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    
    color: black;
    text-align: center;
}

#location:focus {
    outline: none;
}

#location::placeholder {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#search-btn {
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 15px 16px;

    color: white;
    background-color: var(--main-color);
}

#search-btn-icon {
    display: none;
    border: none;
    border-radius: 15px;
    padding: 15px 16px;
    background-color: var(--main-color);
}

#search-btn-icon i {
    color: white;
}

.filters {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters-buttons {
    display: flex;
    gap: 10px;
}

.filters-button {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    font-size: 17px;
    padding: 4px 19px;
    background-color: white;

    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
}

.filters-button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
}

.info {
    font-size: 16px;
}

/****** Autres ***********/

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.weight-700 {
    font-weight: 700;
}

.font-size-18 {
    font-size: 18px;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards img {
    border-radius: 20px 20px 0 0;
    height: 124px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards a {
    width: 25%;
}

.activities-cards .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    filter: none;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activities-cards img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 380px;
}

.activities-cards h3 {
    padding: 20px 19px;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    display: flex;
    width: 100%;
}

footer .block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.33%;
    padding: 20px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
        flex-direction: column;
        align-items: stretch;
    }

    .activities-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .hebergements-cards a {
        width: 45%;
    }
}

/* Mobile (phones, less than 375px) */
@media (max-width: 375px) {
    body {
        display: block;
    }

    .main-container {
        padding: 0;
        width: 375px;
    }

    header {
        height: 115px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding-top: 30px;
    }

    nav {
        width: 100%;
    }

    .navlinks {
        gap: 0;
    }

    .links {
        text-align: center;
        width: 50%;
        padding: 0;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .links:hover {
        color: var(--main-color);
        border-bottom-color: var(--main-color);
    }

    .home {
        padding: 0 20px;
    }

    #search-btn {
        display: none;
    }

    #search-btn-icon {
        display: block;
    }

    .filters-buttons {
        height: 50px;
        flex-wrap: wrap;
        height: 110px;
    }

    .filters-button {
        flex: 1 1 calc(50% - 20px);
    }

    .filters-button span {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .populaires {
        margin-top: 0;
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activities-cards {
        flex-direction: column;
    }

    .activities-cards a {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer .block {
        width: 100%;
    }
}